Language: Cpp
BasedOnStyle: llvm

# Misc
ColumnLimit: 80
BitFieldColonSpacing: Both

# Short / One-line blocks
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

# Alignment
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Right
AlignOperands: true

# Braces
BreakBeforeBraces: Attach

# Includes
SortIncludes: false

# Indentation
UseTab: Always
TabWidth: 2
IndentWidth: 2
IndentCaseLabels: true

# Whitespace
MaxEmptyLinesToKeep: 1
SpacesInParentheses: false
InsertNewlineAtEOF: true

# Comments
ReflowComments: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
SpacesInLineCommentPrefix: 
 Maximum: 1
 Minimum: 1
